@import url("https://cdn.jsdelivr.net/npm/galmuri/dist/galmuri.css");
@import url("https://cdn.jsdelivr.net/npm/galmuri/dist/galmuri.css");
#skill-folder-list {
  width: 80%;
  height: 100%;
  background-color: skyblue;
  float: right;
}